body {
  margin: 0;
  overflow: hidden;
  color: aliceblue;
  height: 100vh;
}
.app {
  align-items: center;
  justify-content: center;
  background-color: black;
}

.threeD {
  height: 600px;
  width: 500px;
  background-color: aquamarine;
}
